<div id="chat" class="well">
	<div class="message">
		<label class="label label-info">Dan Knox</label> This is my message
	</div>
</div>

<div class="form-inline well">
  <fieldset>
    <label class="control-label" for="input01">Type your message</label> 
    <input type="text" class="input-xlarge" id="message">
		<button id="send" class="btn btn-primary">Send</button>
  </fieldset>
</div>

<%= javascript_tag do %>
  var ServerEventsDispatcher = function(){
    var conn = new WebSocket("ws://<%= request.host %>:<%= request.port %>/websocket"),
        open_handler = function(){},
        callbacks = {},
        client_id = '';

  	this.bind = function(event_name, callback) {
  		callbacks[event_name] = callbacks[event_name] || [];
  		callbacks[event_name].push(callback)
  	}

  	this.trigger = function(event_name, data) {
  		var payload = JSON.stringify([event_name,data])
  		conn.send( payload )
  		return this;
  	}

  	conn.onopen = function(evt) {
  		//dispatcher.trigger('new_user',current_user)
      open_handler()
  	}
    this.onopen = function(handler) {
      open_handler = handler
    }

  	conn.onmessage = function(evt) {
  		var data = JSON.parse(evt.data),
        id = data[0],
  			event_name = data[1],
  			message = data[2];
      client_id = id
  		console.log(data)
  		dispatch(event_name, message)
  	}

  	conn.onclose = function(evt) {
  		dispatch('connection_closed', '')
  	}

  	var dispatch = function(event_name, message) {
  		var chain = callbacks[event_name]
  		if (typeof chain == 'undefined') return;
  		for(var i = 0; i < chain.length; i++) {
  			chain[i]( message )
  		}
  	}	
  }
<% end %>
